<legend>{{#if content.id}}Edit{{else}}Create{{/if}} Chart</legend>

{{#with content}}
  <div class="control-group">
    <label class="control-label" for="chartName">Chart name</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="name" id="name" placeholder="Chart name" required="true"}}
    </div>
  </div>
{{/with}}

<div class="form-actions">
  {{#if content.id}}
    {{submitButton "Update"}}
  {{else}}
    {{submitButton "Create"}}
  {{/if}}
  <a class="btn" {{action cancelEdit}}>Cancel</a>
</div>
