
<div id="section-<%=section.id%>" class='chart-section' style='left:<%= section.pos_left %>px; top:<%= section.pos_top %>px;position: absolute;'>
  <%= section.name %>(<%= section.id %>)
  <div class="chart-section-links">
     <%= link_to "edit",section_path( section ),:remote => true %>
   |
     <%= link_to "del", section_path( section ),:remote => true, :"data-section-id" => section.id,  :method => :delete %>
   |
     <%= link_to "onward", 'javascript:;',      :remote => true, :"data-section-id" => section.id  %>
  </div>
</div>

