
<h3><%= @section.name %></h3>

<div class="btn-group" id="tools">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> Tools <span class="caret"></span></a>
  <ul class="dropdown-menu">
  <% @section.chart.user_group.tools.each do |tool| %>
    <li>
      <%= link_to tool.name, 'javascript:;', :remote => true, :"data-tool-id" => tool.id %>
    </li>
  <% end %>
  </ul>
</div>

<%= form_for SectionLine.new, :remote => true, :html => { :id => 'new-section-line-tool-form' } do |f| %>
  <%= hidden_field_tag 'tool_id', 0  %>
  <%= hidden_field_tag 'section_id', @section.id  %>
<% end %>

<% if ( @section_line_tools ) then %>
  <%= form_for @section, :remote => true, :html => { :id => 'section-form' } do |f| %>
    <div class="accordion" id="section-builder-lines"> 
      <% @section_line_tools.each do |section_line_tool| 
        section_line = section_line_tool.adapter.section_line
      %>
        <%= render :partial => "section_line", :locals => { :section_line => section_line, :section_line_tool => section_line_tool }  %>
      <% end %>
    </div>
    <%= f.submit "Save Section", :class => 'btn' %>
  <% end %>
<% end %>

