
<div class="row-fluid">
    <div class="span10">
        <table class="table table-hover">
            <tr>
                <th> Chart Name </th>
                <th>  </th>
            </tr>
            <tbody>
        {{#each chart in controller}}
            <tr>
                <td>
                    {{chart.name}}
                </td>
                <td>
                    <a {{action showChart chart href=true}}>View</a>
                    <a {{action editChart chart href=true}}>Edit</a>
                    <a {{action delChart chart href=true}}>Del</a>
                </td>
            </tr>
            </tbody>
        {{/each}}
        </table>
        <hr />
        <button {{action newChart }} class="btn btn-large btn-primary">Create New Chart</button>
    </div>
    <div class="span2"> {{outlet}} </div>
</div>

