<div class="navbar-inner">
  <div class="container-fluid">
    <%= link_to "ProPro", :root, :class => "brand" %>
    <div class="nav-collapse collapse">
      <% if current_user %>

        <p class="navbar-text pull-right">
        <%= link_to current_user.email, :root, :class => 'navbar-text pull-right' %>
        </p>

      <% else %>

<%= form_tag(sessions_path, :class => "navbar-form pull-right") do %>
  <%= text_field_tag :email, params[:email], :placeholder => "Email", :class => "span2"  %>
  <%= password_field_tag :password, :placeholder => "Password", :class => "span2" %>
  <%= submit_tag "Log in", :class => "btn" %>
<% end %>

      <% end %>

      <ul class="nav">
        <li class="<%= current_page?( :controller => 'home', :action => 'index' )    ? 'active' : '' %>"> <%= link_to "Home", :root %> </li>
        <li class="<%= current_page?( :controller => 'home', :action => 'about' )    ? 'active' : '' %>"> <%= link_to "About", :about %> </li>
        <li class="<%= current_page?( :controller => 'builder' ) ? 'active' : '' %>"> <%= link_to "Build", :builder %> </li>
      </ul>

    </div>
  </div>
</div>
