<!DOCTYPE html>
<html>
  <head>
    <title>Propro</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top"> 
      <%= render :partial => 'common/topbar' %> 
    </div>

    <div class="container-fluid">

      <div class="row-fluid">
        <%= render :partial => 'common/flashes' %>
        <%= yield :sidebar %>
        <%= yield %>
      </div>

      <hr>

      <footer> <%= render :partial => 'common/footer' %> </footer>

    </div>
  </body>
</html>
